body{
    background-color: aliceblue;
}

main{
   position:relative;
   left:400px;
   top:200px;
}

h2,h3{
    display:inline;
    background-color: lightyellow;
    color:skyblue;
    font-family:'Montserrat','sans-serif';
}

h2{
    position:relative;
    bottom:70px;
}



a{
    position:relative;
    top:100px;
}


a:hover{
    color:black;
    background-color: azure;
    transition:1s;
}

a:link, a:visited {
    background-color: lightyellow;
    color: skyblue;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.titlezone{
    font-family: 'Noto Sans KR';
}
.contentzone{
    font-family: 'Noto Sans KR';
    width: 500px;
    word-break: break-all;
    
}
.categoryzone{
    font-family: 'Noto Sans KR';
}
.timezone{
    font-family: 'Noto Sans KR';
    position:relative;
    top:80px;
}
