


body{
    background-color: aliceblue;
    
}

main{
    position:relative;
    top: 80px;
    left: 550px;
    
}

h2{
    font-family: 'Montserrat',sans-serif;
    position: relative;
    display:inline;
    background-color: lightyellow;
    left: 75px;
    
}

input[type=text]{
    width: 400px;
    height: 20px;
    font-family: 'Noto Sans KR','Montserrat';
    border:0;
    background-color: lightyellow;
}

input::-webkit-input-placeholder{
    color:lightblue;
}

textarea[name=content]{
    width: 400px;
    height: 300px;
    font-family: 'Noto Sans KR','Montserrat';
    border:0;
    background-color: lightyellow;
}

.title>input{
    font-family: 'Noto sans KR',sans-serif;
    font-weight: 800;
}

.title>p{
    position: relative;
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    left: 185px;
}

.categorie>p{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    position:relative;
    left:168px;
}
.content>p{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    position:relative;
    left:170px;
}
.categorie>select{
    background-color: lightyellow;
    border:0;
    font-family: 'Montserrat',sans-serif;
    font-weight:800;
    position:relative;
    left: 150px;

}

#bt1{
    background-color: lightyellow;
    padding: 3px;
    color: skyblue;
    font-family: 'Montserrat',sans-serif;
    border: 1px solid white;
    border-radius: 10px;
    font-weight:800;
}

#area{
    font-family: 'Noto Sans KR', 'Montserrat',sans-serif;
}


textarea::-webkit-scrollbar{
    width:10px;
}
textarea::-webkit-scrollbar-thumb{
    background-color: lightblue;
}
textarea::-webkit-scrollbar-track{
    background-color: lightyellow;
}

textarea::-webkit-input-placeholder{
    color:lightblue;
}

#bt1:hover{
    background-color: whitesmoke;
    color:black;
    transition: 1s;
}