<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
{% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <main>
        <h1>Korea University Major Info</h1>
        <a href='https://ifh.cc/v-faa7YH' target='_blank'><img src='https://ifh.cc/g/faa7YH.png' border='0'
            width = "300px" height="400px"></a>
        <a class="go" href="{% url 'home' %}">Go</a>
    </main>
</body>
</html>