<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    <head>
    {% load static %}
        <link rel="stylesheet" href="{% static 'major_list.css' %}">
</head>
<body>
    <h2>Subject List</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Subject</th><th>Major</th><th>Professor</th><th>Memo</th>
            </tr>
        </thead>
        {% for subject in subjects %}
        <tbody>
            <tr>
                <td>{{ subject.Subject_name }}</td> 
                <td>{{ subject.Subject_major }}</td> 
                <td>{{ subject.professor }}</td>
                <td>{{ subject.memo }}</td>
            </tr>
        </tbody>
        {% endfor %} 
    </table>
</body>
</html>