.visitorlog_box{
    padding: 100px;
}

form{
    background-color: skyblue;
}



.visitorlogsubmit{
    font-family: 'Jua', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}


#NAME{
    margin: 30px;
}

#TITLE{
    margin: 30px;
}

#Log{
    margin: 30px;
}

#DATE{
    margin: 30px;
}

.return{
    display: block;
    text-align: center;
    margin-bottom: 50px;
    
}

a{
    background-color: skyblue;
}

input{
    border:none;
    background-color: blanchedalmond;
    font-family: 'Jua', sans-serif;

}

textarea{
    border:none;
    background-color: blanchedalmond;
    font-family: 'Jua', sans-serif;
}

button{
    border:none;
    background-color: blanchedalmond;
    font-family: 'Jua', sans-serif;
}