{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'e.css' %}">
{% endblock %}
{% block title %}
<h1>방문객 로그인 페이지</h1>
{% endblock title %}
{% block content %}
<div class="signup_box">
    <form method="POST" action="" >
        {% csrf_token %}
        <div>
            <label for="ID">방문객 ID :</label>
            <input type="text" name="userName" id="ID">
        </div>
        <div>
            <label for="pwd">비밀번호 : </label>
            <input type="password" name="password" id="pwd">
        </div>
        <button type="submit">로그인!</button>
    </form>
    <a class="return" href= "{% url 'home' %}">홈으로 돌아가기</a>
</div>
{% endblock content %}