{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
<div class="image_box">
    <div class="first_img">
        <a href='https://ifh.cc/v-caZYt2' target='_blank'><img src='https://ifh.cc/g/caZYt2.jpg' border='0'></a>
    </div>
    <div class="second_image">
        <a href='https://ifh.cc/v-TfRYnD' target='_blank'><img src='https://ifh.cc/g/TfRYnD.jpg' border='0'></a>
    </div>
    <div>
        <a href= "{% url 'home' %}">홈으로 돌아가기</a>
    </div>
</div>
{% endblock content %}