body{
    background-color: rgba(250, 237, 226, 0.959);
    

}
main{
    width: 300px;
    height: 600px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    position:relative;
    left: 1000px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.everytime>p{
    color: red;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    left:14px;
    top:2px;
}

.university{
    position: relative;
    bottom: 17.5px;
    left: 12px;
    font-weight: 1000;
    font-family: 'Noto Sans KR', sans-serif;
}

#find{
    position:relative;
    top: 33px;
    right: 34px;

}

#my_info{
    position:relative;
    top: 29px;
    right: 13px;
}

.menu_info{
    width:260px;
    height:180px;
    border: 1.5px solid lightgrey;
    position:relative;
    left:10px;
    border-radius: 20px;
}

.menu_box>span{
    font-family: 'Noto Sans KR',sans-serif;
    position:relative;
    left:20px;
    top:13px;
    font-size:17px;
}

.menu_box>p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:12px;
    position:relative;
    color:orange;
    font-weight:500;
    position:relative;
    left:50px;
    top:1px;
}

#sun{
    position:relative;
    top: 11px;
    right: 5px;
}
#menu{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:80%;
    display:block;
    padding-right:10px;
    padding-left:50px;
}

.icon_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

#id,#home1,#library,#kupid,#shuttle_bus,#announcement,#calendar
{
    width:42px;
    height:42px;
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    margin-top:20px;
    font-family:'Nanum Gothic', sans-serif;
    font-size:10px;
    text-align: center;
    font-weight: 500;
}

#home1>p{
    position:relative;
    top:11px;
}
#library>p{
    position:relative;
    top:11px;
}
#kupid>p{
    position:relative;
    top:12px;
}
#shuttle_bus>p{
    position:relative;
    top:10px;
}
#announcement>p{
    position:relative;
    top:10px;
}
#calendar>p{
    position:relative;
    top:13px;
}


/*아이콘 페이지*/
#home1>img{
    position:relative;
    top:9px;
}
#library>img{
    position:relative;
    top:10px;
}
#kupid>img{
    position:relative;
    top:10px;
}
#shuttle_bus>img{
    position:relative;
    top:9px;
}
#announcement>img{
    position:relative;
    top:9px;
}
#calendar>img{
    position:relative;
    top:11px;
}


#ad{
    border-radius:10px;
    position:relative;
    left: 10px;
    top: 40px;
}

.dashboard{
    width:300px;
    height:100px;
    margin-top:40px;
}

.outline{
    width:280px;
    height:200px;
    border: 1.5px solid lightgrey;
    border-radius:10px;
    margin-left:8.5px;
}

footer{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    z-index:2;
    background-color: white;
    height:55px;
}

hr{
    border-radius: 10px;
    z-index:3;
    position:relative;
    bottom:18px;
}

#favorite{
    margin-top:10px;
}

#fav_board{
    font-family: 'Noto Sans KR',sans-serif;
    position:relative;
    left: 10px;

}

#add{
    color: red;
    font-size: 13px;
    font-family:'Nanum Gothic', sans-serif;
    position: relative;
    left: 110px;
    font-weight:500;
    
}

.text1{
    font-size: 13px;
    font-family:'Nanum Gothic', sans-serif;
    color:black;
    position: relative;
    left:10px;
    top:5px;

}
.text2{
    font-size: 11px;
    font-family:'Nanum Gothic', sans-serif;
    color:grey;
    position:relative;
    left:40px;
    top:5px;

}

.icon_1{
    position:relative;
    left:120px;
    top:5px;
}

.icon_2{
    position:relative;
    left: 90px;
    top:5px;
}