{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'c.css' %}">
{% endblock %}
{% block title %}
<h1>견우네 집 방명록</h1>
{% endblock title %}
{% block content %}
<div class="visitorlog_box">
    <div class="title">
        <p>제목 : {{post_log.title}}</p>
    </div>
    <div class="visitorName">
        <p>방문자명 : {{post_log.visitorName}}</p>
    </div>
    <div class="Log">
        <p>"{{post_log.visitorLog}}"</p>
    </div>
    <div class="">
        <p>방문날짜 : {{post_log.visitedDate}}</p>
    </div>
    <div class="Views">
        <p>조회수 : {{post_log.numberView}}</p>
    </div>
    {% if not comments %}
    <p>방명록에 댓글을 남겨보세요~!</p>
    {% endif %}
    {% for comment in post_log.comments.all %}
    <ul>
        <li>{{ comment.commentName }} : {{ comment.commentContent }}</li>
    </ul>
    {% endfor %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="commentContent" placeholder="수정할 댓글을 입력하세요"> 
        <button type="submit">댓글수정</button>
    </form>
    <footer>
        <a href="{% url 'edit' post_log.pk %}">방명록 수정하기</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'delete' post_log.pk %}">방명록 삭제하기</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'home' %}">홈으로 가기</a>
    </footer>
</div>

{% endblock content %}