{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'd.css' %}">
{% endblock %}


{% block title %}
<h1>방명록 써 줘서 고마워~</h1>
{% endblock title %}

{% block content %}
<div class="visitorlog_box">
    <form method="POST" action="" >
        {% csrf_token %}
        <div class="visitorlogsubmit">
            <div>
                <label for="NAME">방문자명 : </label>
                <input type="text" name="visitorName" id="NAME">
            </div>
            <div>
                <label for="TITLE">방명록 제목 : </label>
                <input type="text" name="title" id="TITLE">
            </div>
            <div>
                <textarea name="visitorLog" cols="50" rows="20" id="Log" placeholder="수정할부분 수정해서 써주세요!"></textarea>
            </div>
            <div>
                <label for="DATE">방문날짜 : </label>
                <input type="date" name="visitedDate" id="DATE">
            </div>
            <button type="submit">방명록 수정하기!</button>
        </div>
    </form>
</div>
<div class="return">
    <a href= "{% url 'home' %}">홈으로 돌아가기</a>
</div>
{% endblock content %}