{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock css %}
{% block title %}
<h1>견우네 집 방명록</h1>
{% endblock title %}

{% block content %}
<div class="spinner-border" id="loading" style="display: none;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
<div class="visitor_box">
    {% if not visitorlogs %}
    <p>아직 방명록이 없네요!</p>
    {% endif %}
    {% for visitorlog in visitorlogs %}
        <div class = "visitorlog_wrapper">
            <div class = "visitorlog_title">
                "{{visitorlog.title}}" <span>-{{visitorlog.visitorName}}</span>
                </div>
            <div class = "visitorlog_content">
                {{visitorlog.visitorLog|linebreaksbr}}
            </div>
            <div class = "detail_link">
                <a href="{% url 'visitorlog_detail' visitorlog.pk %}">
                <span id="detail">자세히 보기</span></a>&nbsp;&nbsp;<span>조회수 : {{visitorlog.numberView}}</span>
                
            </div>
        </div>
    </a>
    {% endfor %}
    <div class="button">
        <a id="post-button" href="{% url 'visitorlog_create' %}">방명록 쓰러 가기</a>
    </div>
    <div class="button" id="button" style="margin-top:10px;">
        <button>집 위치 ON/Off</button>
    </div>
    <div class="address" id="address" 
    style="display:none;">
        <p>서울특별시 성북구 고려대로 22길 6-2</p>
    </div>    
    </div>
{% endblock content %}
{% block script %}
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    const btn = document.querySelector('#button');
    let num = 1
    function handleClick(){
        const address = document.querySelector('#address');
        if(num%2 == 0){
            address.style.display = 'none';
        }
        else{
            address.style.display = 'inline-block';
        }
        num++;
    }
    btn.addEventListener("click", handleClick)
   

</script>
{% endblock script %}