{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock css %}
{% block title %}
<h1>{{user.username}}님의 마이페이지</h1>
{% endblock title %}

{% block content %}
<div class="visitor_box">
    {% if not userLikelogs %}
    <p>아직 방명록이 없네요!</p>
    {% endif %}
    <p>내가 좋아요 한 글</p>
    {% for visitorlog in userLikelogs %}
        <div class = "visitorlog_wrapper">
            <div class = "visitorlog_title">
                "{{visitorlog.title}}" <span>-{{visitorlog.visitorName}}</span>
                </div>
            <div class = "visitorlog_content">
                {{visitorlog.visitorLog|linebreaksbr}}
            </div>
            <div class = "detail_link">
                <a href="{% url 'visitorlog_detail' visitorlog.pk %}">
                <span id="detail">자세히 보기</span></a>&nbsp;&nbsp;<span>조회수 : {{visitorlog.numberView}}</span>
                
            </div>
        </div>
    </a>
    {% endfor %}
    <p>내가 스크랩 한 글</p>
    {% for visitorlog in userScraplogs %}
        <div class = "visitorlog_wrapper">
            <div class = "visitorlog_title">
                "{{visitorlog.title}}" <span>-{{visitorlog.visitorName}}</span>
                </div>
            <div class = "visitorlog_content">
                {{visitorlog.visitorLog|linebreaksbr}}
            </div>
            <div class = "detail_link">
                <a href="{% url 'visitorlog_detail' visitorlog.pk %}">
                <span id="detail">자세히 보기</span></a>&nbsp;&nbsp;<span>조회수 : {{visitorlog.numberView}}</span>
                
            </div>
        </div>
    </a>
    {% endfor %}
    <div class="button">
        <a href= "{% url 'home' %}">홈으로 돌아가기</a>
    </div>
</div>
{% endblock %}