{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'c.css' %}">
{% endblock %}
{% block title %}
<h1>견우네 집 방명록</h1>
{% endblock title %}
{% block content %}
<div class="visitorlog_box">
    <div class="title">
        <p>제목 : {{post_log.title}}</p>
        <p id="hello" style="display: none">{{post_log.pk}}</p>
        <p id="userlike" style="display: none">{{user.likes.count}}</p>
        <p id="scrapconfirm" style="display: none">{{user.scraps.count}}</p>
    </div>
    <div class="visitorName">
        <p>방문자명 : {{post_log.visitorName.username }}</p>
    </div>
    <div class="Log">
        <p>"{{post_log.visitorLog|linebreaksbr}}"</p>
    </div>
    <div class="Date">
        <p>방문날짜 : {{post_log.visitedDate}}</p>
    </div>
    <div class="Views">
        <p>조회수 : {{post_log.numberView}}</p>
    </div>
    {% if not comments %}
    <p>방명록에 댓글을 남겨보세요~!</p>
    {% endif %}
    {% for comment in post_log.comments.all %}
    <ul>
        <li>{{comment.commentName.username }} : {{ comment.commentContent }}</li>
        {% if user.is_authenticated and comment.commentName.pk == user.pk %}
        <a id='A' href="{% url 'editcomment' post_log.pk comment.pk %}">댓글 수정</a>
        <a id='B' href="{% url 'deletecomment' post_log.pk comment.pk %}">댓글 삭제</a>
        {% endif %}
    </ul>
    {% endfor %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="commentContent" placeholder="댓글을 입력하세요"> 
        <button type="submit">댓글작성</button>
    </form>
    <br>
    <button id="like-button" style="border-radius:10px">좋아요</button>
    <div id="like-count">좋아요 {{post_log.likes.count}}개</div>
    <br>
    <button id="scrap-button" style="border-radius:10px">스크랩</button>
    <footer>
        {% if user.is_authenticated and post_log.visitorName.pk == user.pk %}
        <a href="{% url 'edit' post_log.pk %}">방명록 수정하기</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'delete' post_log.pk %}">방명록 삭제하기</a>&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
        <a href="{% url 'home' %}">홈으로 가기</a>
    </footer>
</div>
{% endblock content %}
{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const likeBtn = document.getElementById('like-button');
    const scrapBtn = document.getElementById('scrap-button');
    const likebutton = document.getElementById("like-count");
    const pk = document.getElementById("hello").innerHTML;
    const userlike = document.getElementById("userlike").innerHTML;
    const userscrap = document.getElementById("scrapconfirm").innerHTML;
    likeBtn.onclick = () =>{
        axios('/like', {
            method: "POST",
            data: {'log_pk' : pk}
        })
        .then(function (response){
            likebutton.innerHTML = '좋아요' + ' ' + response.data.like_count + '개'
            likebutton.setAttribute('style',response.data.style)
        })  
        .catch(function (error){
            console.log(error);
        })
    }
    if(userlike=='1'){
        likebutton.classList.add('change')
    }
    else{
        likebutton.classList.remove('change')
    }
    scrapBtn.onclick = () =>{
        axios('/scrap', {
            method: "POST",
            data: {'log_pk' : pk}
        })
        .then(function (response){
            scrapBtn.setAttribute('style',response.data.style)
        })  
        .catch(function (error){
            console.log(error);
        })
    }
    if(userscrap=='1'){
        scrapBtn.classList.add('active')
    }
    else{
        scrapBtn.classList.remove('active')
    }
</script>
{% endblock script %}