<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
<body>
    <main>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="Put your text here.">
            </div>
            <div>
                <label for="content">Content</label>
                <textarea name="content" id="content" cols="30" rows="10" placeholder="Put your text here."></textarea>
            </div>
            <div>
                <label for="deadline">Deadline</label>
                <input type="date" name="deadline" id="deadline"></input>
            </div>
                <button type="submit">Go</button>
        </form>
    </main>
</body>
</html>