*{
    font-family: 'Gowun Batang', serif;
}

html{
    display: inline-block;
    position: relative;
}

body{
    background-color: antiquewhite;
    margin: 0px;
    display: inline-block;
    padding: 50px;
    position: absolute; left: 50%; 
    transform: translate(-50%, 0%);
    overflow: auto;
}

h2{
    font-family: 'Gowun Batang', serif;
    display: inline-block;
}

a{
    text-decoration : none;
    font-family: 'Gowun Batang', serif;
    color: blue;
}

a:hover{
    color: black;
    background-color: aliceblue;
}

a:link, a:visited{
    background-color: lightgreen;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border:1px solid black;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    
}