html,body{
}

body{
    background-color: antiquewhite;
    width: 100%;
    margin: 0;
    display:inline-block;
    padding-top:10%;
    padding-bottom:10%

}

.do_list{
    display: inline-block;
    position: relative;
    left: 45%;
}





h1{
    font-family: 'Gowun Batang', serif;
    display: inline;
}


p{
    font-family: 'Gowun Batang', serif;
}

ul{
    list-style: none;
    margin:0px;
    padding:0px;
}

a{
    text-decoration : none;
    font-family: 'Gowun Batang', serif;
    color: blue;
}

a:hover{
    color: black;
    background-color: aliceblue;
}

a:link, a:visited{
    background-color: lightgreen;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

.h1{
    position:relative;
    right:15px;
    bottom: 10px;
}

.image{
    position:relative;
    right:300px;
    top:300px;
}

p{
    font-weight:500;
}


