p{
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    text-align: center;
}

img{
    width:100%;
    height:100%;
}

.button{
    display: block;
    text-align: center;
}

.button>a{
    background-color: skyblue;
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: 100px;
}
