<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}" 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
<title>멋사전용 글자수 세기 프로그램</title>
</head>
<body>
    <h1>이 프로그램은 무료로 글자 수를 세어줍니다.</h1>
    <hr id="line1">
    <form action="{% url 'result' %}" method="post">{% csrf_token %}
        <div class="header">
            <div class="main_frame">
                <div><a id=img_1 href='https://ifh.cc/v-SfyPFg' target='_blank'><img src='https://ifh.cc/g/SfyPFg.png' border='0' width="200px" height="200px"></a></div>
                <div class="bound">
                    <div class='text_area'>
                    <textarea style="overflow:auto", name="text" cols="40" rows="60" placeholder="텍스트를 입력해주세요."></textarea>
                    <br/>
                    <input type="submit" value="제출" id="inputsentence"/>
                    </div>
                    <div class="provide"><p>What we provide?</p></div>
                    <div class="text_number">
                        <div class="input_text"><p>공백 포함</p></div>
                        <div class="include_blank"><p>공백 제외</p></div>
                        <div class="no_blank"><p>단어 개수</p></div>
                    </div>
                </div>
                <div><a id=img_2 href='https://ifh.cc/v-SfyPFg' target='_blank'><img src='https://ifh.cc/g/SfyPFg.png' border='0' width="200px" height="200px"></a></div>
            </div>
            </div>
    </form>
    <hr id="line2">
</body>
</html>